<app-create-task
  *ngIf="showCreateTaskForm"
  (CloseForm)="CloseCreateTaskForm()"
  (createTaskFormValueObjectEmitter)="createTask($event)"
  [isEditMode]="editMode"
  [selectedTask]="selectedTask"
></app-create-task>

<app-task-details
  *ngIf="taskDetailComp"
  (EventEmitter)="closeTaskDetails()"
  [currentTask]="currentTask"
  [isLoading]="isLoadingTaskDetails"
></app-task-details>

<div class="dashboard-container">
  <div style="display: flex">
    <div style="width: 50%">
      <h2>Dashboard</h2>
    </div>
    <div style="width: 50%; text-align: right">
      <button class="create-task-btn" (click)="OpenCreateTaskForm()">
        Create Task
      </button>
      <button class="create-task-btn" (click)="fetchAllTasksData()">
        Fetch Tasks
      </button>
      <button class="create-task-btn" (click)="deleteAllTasks()">
        Clear Tasks
      </button>
    </div>
  </div>

  <hr />

  <div class="dashboard-item-container">
    <div class="sb sb-error" *ngIf="errorMessage">{{ errorMessage }}</div>
    <!-- Either loader spinner will be shown in the dashboard component -->
    <div class="loader" *ngIf="isLoading"></div>
    <!-- Or "No Tasks" will be shown in the dashboard component-->
    <strong *ngIf="allTasks.length < 1 && !isLoading">No Tasks</strong>
    <!-- Or "Tasks Data" will be shown in the dashboard component-->
    <ng-container *ngIf="!isLoading">
      <div
        class="task-item"
        [ngClass]="'task-' + task.status"
        *ngFor="let task of allTasks"
      >
        <div class="task-title">
          <h3>{{ task.title }}</h3>
        </div>
        <p><b>Assigned to: </b>{{ task.assignedTo }}</p>
        <p><b>Priority: </b>{{ task.priority }}</p>
        <p><b>Status: </b>{{ task.status }}</p>
        <div class="task-action-icons">
          <button
            class="task-action-btn"
            title="Detail"
            (click)="openTaskDetails(task.id)"
          >
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </button>
          <!-- <button
          class="task-action-btn"
          title="Edit"
          (click)="onEditTaskClicked(task)"
        >
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button> -->
          <button
            class="task-action-btn"
            title="Edit"
            (click)="onEditTaskClicked(task.id)"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button
            class="task-action-btn"
            title="Delete"
            (click)="deleteTask(task.id)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- <input
  type="radio"
  id="high"
  value="high"
  (change)="filterTasksByPriority($event)"
/>
<label for="high">&nbsp;High</label> -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- <app-create-task
*ngIf="showCreateTaskForm"
(CloseForm)="CloseCreateTaskForm()"
(createTaskFormValueObjectEmitter)="createTask($event)"
></app-create-task>

<div class="dashboard-container">
<div style="display: flex">
  <div style="width: 50%">
    <h2>Dashboard</h2>
  </div>
  <div style="width: 50%; text-align: right">
    <button class="create-task-btn" (click)="OpenCreateTaskForm()">
      Create Task
    </button>
    <button class="create-task-btn" (click)="fetchAllTasksData()">
      Fetch Tasks
    </button>
    <button class="create-task-btn" (click)="deleteAllTasks()">
      Clear Tasks
    </button>
  </div>
</div>

<hr />

<div class="dashboard-item-container">
  <strong *ngIf="allTasks.length < 1">No Tasks</strong>
  <div
    class="task-item"
    [ngClass]="'task-' + task.status"
    *ngFor="let task of allTasks"
  >
    <div class="task-title">
      <h3>{{ task.title }}</h3>
    </div>
    <p><b>Assigned to: </b>{{ task.assignedTo }}</p>
    <p><b>Priority: </b>{{ task.priority }}</p>
    <p><b>Status: </b>{{ task.status }}</p>
    <div class="task-action-icons">
      <button class="task-action-btn" title="Detail">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <button class="task-action-btn" title="Edit">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
      <button
        class="task-action-btn"
        title="Delete"
        (click)="deleteTask(task.id)"
      >
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
</div> -->

<!-- <input
type="radio"
id="high"
value="high"
(change)="filterTasksByPriority($event)"
/>
<label for="high">&nbsp;High</label> -->
